.joined-chatrooms {
}

.joined-chatrooms .item {
  margin: 5px;
  cursor: pointer;
}

.joined-chatrooms .group-item {
  margin-top: 10px;
  padding: 2px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}