.messages {
}

.messages .item {
  margin: 5px;
  cursor: pointer;
}

.messages .group-item {
  margin-top: 10px;
  padding: 2px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.messages .char-item {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px;
  margin-top: 5px;
  cursor: pointer;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.messages .char-item .name {
  flex: 0 0 auto;
}

.messages .char-item .type {
  flex: 1 1 auto;
  text-align: center;
}

.messages .char-item .time {
  flex: 0 0 auto;
}
