.all-chat-rooms {}

.all-chat-rooms .item {
  margin: 5px;
  cursor: pointer;
}

.all-chat-rooms .group-item {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.all-chat-rooms .add-group {
  margin-left: 20px;
  cursor: pointer;
  float: right;
}

.group-name {
  font-size: 13px;
}

.btn-creat {
  margin-left: 10px;
}