.audio-container {
    width: 800px;
    height: 500px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.conversation-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    width: 180px;
    height: 120px;
    margin: 10px;
    background-color: aquamarine;
}

.user-text {
    font-size: 13px;
    color: dimgray;
}