.audio-container {
    width: 800px;
    height: 500px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.conversation-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    width: 180px;
    height: 120px;
    margin: 10px;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-text {
    font-size: 13px;
    position: fixed;
    top: 20px;
}

.mic-icon {
    width: 50px;
    height: 50px;
    color: darkgray;
    position: absolute;
    top: 50px;
    left: 70px;
}

.remote-icon {
    width: 50px;
    height: 50px;
    color: darkgray;
}